# Reading Text Files and Labeling them

In [2]:
import os
import pandas as pd

C:\Users\grish\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [10]:
# Initialize an empty DataFrame
df = pd.DataFrame(columns=['Text', 'Labels'])

In [11]:
df

Empty DataFrame
Columns: [Text, Labels]
Index: []

In [5]:

# Specify the path to your directory
filepath=[]
labels=[]
path=''
directory_path = '../dataset/data'
# Get a list of all files in the directory
for files in os.listdir(directory_path):
    path=os.path.join(directory_path,files,files)
    for text_data in (os.listdir(path)):
        filepath.append(os.path.join(path,text_data))
        labels.append(files)

In [6]:
news=[]
for data in filepath:
    file_content=''
    with open(data, 'r',encoding='UTF-8') as file:
        file_content = file.read()
        file.close()
    news.append(file_content)
print(len(news))

10000

In [12]:
df['Text'] = news
df['Labels'] = labels
print(df)

                                                   Text        Labels
0     घर जग्गा कारोबारमा आत्मविश्वास गुमेको वर्ष"बैं...  ArthaBanijya
1     सहायताको प्राथमिकता तोक्न आयोजना बैंकप्राथमिकत...  ArthaBanijya
2     व्यापारीको बेइमानीले सर्वसाधारणलाई सास्तीपेट्र...  ArthaBanijya
3     मोबाइल सेट आयातमा टाइप एप्रुभल लागूसरकारले मोब...  ArthaBanijya
4      रारामा रिसोर्ट र पर्यटक सेवा केन्द्र बन्नेदेश...  ArthaBanijya
...                                                 ...           ...
9995  वर्षाबीच मन्डेलाको स्मृतिसभाविश्वमै स्वतन्त्रत...         Viswa
9996  हजारे फेरि अनशनमाभारतको संसद्को जारी सत्रबाटै ...         Viswa
9997  भारतमा सर्वोच्चद्वारा समलिंगी सम्बन्ध अवैध ठहर...         Viswa
9998  भारतका वरिष्ठ मन्त्रीद्वारा सर्वोच्चको विरोधसम...         Viswa
9999  अस्ट्रेलियामा पनि गैरकानुनीअस्ट्रेलियाको क्यान...         Viswa

[10000 rows x 2 columns]

# Saving labeled data as csv file

In [13]:
out_path='../dataset'+'/'+'nepali_ds.csv'
df.to_csv(out_path, index=False)

In [14]:
print(df.shape[0])

10000